/*第一屏*/
.screen-1__header,
.screen-1__phone,
.screen-1__shadow{
    transition: all 2s;
}
.screen-1__header_animate_init{
    opacity: 0;
    transform: translate(0,100%);
}
.screen-1__header_animate_done,
. screen-1__phone_animate_done,
. screen-1__shadow_animate_done {
    opacity: 1;
    transform: translate(0,0);
}
.screen-1__phone_animate_init{
    opacity: 0;
    transform: translate(0,-100%);
}

.screen-1__shadow_animate_init{
    opacity: 0;
/*transform：translate(0,100%) 表示从元素的当前位置延y轴方向，向下移动整个元素高度的距离*/

/*transform：translate(-20px,0) 表示从元素的当前位置延x轴方向，向左移动20px*/
    transform: translate(0,100%);
}
/*第二屏*/
.screen-2__header,
.screen-2__subheader,
.screen-2__phone,
.screen-2__point{
    transition: all 2s;
}
.screen-2__header_animate_init,
.screen-2__subheader_animate_init
{
    opacity: 0;
    transform: translate(0,-100%);
}
.screen-2__phone_animate_init{
    opacity: 0;
    transform: translate(0,100%);
}
.screen-2_point_i_1_animate_init{
    opacity: 0;
    transform: translate(-100%,0);
}
.screen-2_point_i_2_animate_init,
.screen-2_point_i_3_animate_init{
    opacity: 0;
    transform: translate(100%,0);
}

.screen-2__header_animate_done,
.screen-2__subheader_animate_done,
.screen-2__phone_animate_done,
.screen-2_point_i_1_animate_done,
.screen-2_point_i_2_animate_done,
.screen-2_point_i_3_animate_done
{
    opacity: 1;
    transform: translate(0,0);
}
.screen-2_point_i_1_animate_init{
    opacity: 0;
    transform: translate(-100%,0);
}
.screen-2_point_i_2_animate_init,
.screen-2_point_i_3_animate_init{
    opacity: 0;
    transform: translate(100%,0);
}

/*第三屏*/
.screen-3__header,
.screen-3__subheader,
.screen-3__phone,
.screen-3__feature{
    transition: all 2s;
}
.screen-3__header_animate_init
{
    opacity: 0;
    transform: translate(0,-100%);

}
.screen-3__phone_animate_init,
.screen-3__subheader_animate_init{
    opacity: 0;
    transform: translate(0,100%);
}
.screen-3__header_animate_done,
.screen-3__subheader_animate_done,
.screen-3__phone_animate_done{
    opacity: 1;
    transform: translate(0,0);
}

.screen-3__feature_animate_init{
    opacity: 0;
    transform: scale(.5);
}
.screen-3__feature_animate_done{
    opacity: 1;
    transform: scale(1);
}

.screen-3__feature__item{
    transition: all .5s;
    cursor: pointer;
}
.screen-3__feature__item:hover{
    transform: scale(1.1);
    border-color: #fff;
}
/*第四屏*/
.screen-4__subheader,
.screen-4__header{
    transition: all 1s;
}
.screen-4__subheader_animate_init{
    opacity: 0;
    transform: translate(0,100%);
}
.screen-4__type__item__bg1{
    transition: all 1s 0.5s;
}
.screen-4__type__item__bg2{
    transition: all 1s 1s;
}
.screen-4__type__item__bg3{
    transition: all 1s 1.5s;
}
.screen-4__type__item__bg4{
    transition: all 1s 2.5s;
}

.screen-4__header_animate_init
{
    opacity: 0;
    transform: translate(0,-100%);

}


.screen-4__type__item__bg1_animate_init,
 .screen-4__type__item__bg2_animate_init,
 .screen-4__type__item__bg3_animate_init,
 .screen-4__type__item__bg4_animate_init{
     opacity: 0;
 }
.screen-4__type__item__bg1_animate_done,
.screen-4__type__item__bg2_animate_done,
.screen-4__type__item__bg3_animate_done,
.screen-4__type__item__bg4_animate_done{
    opacity: 1;
}

/*第5屏动画*/

.screen-5__bg,
.screen-5__subheader,
.screen-5__header{
    transition: all 1s;
}
.screen-5__header_animate_init{
    opacity: 0;
    transform: translate(0,-100%);
}
.screen-5__bg_animate_init,
.screen-5__subheader_animate_init{
    opacity: 0;
    transform: translate(0,100%);
}

