header{
    background-color:#f7f7f7 ;
    transition: all 2s;
}

.header_wrap{
    width: 1200px;
    height: 80px;
    /*CSS margin(外边距)属性定义元素周围的空间。*/
    /*水平居中*/
    margin: 0 auto;
    /*css定位position*/
    position: relative;
}
.header_logo{
    width: 150px;
    height: 40px;
    /*文本https://www.runoob.com/css/css-text.html*/
    font-size: 20px;
    color: #07111b;
    line-height:38px;
    /*首行缩进*/
    text-indent:50px;
    /*背景*/
    background:url("../img/logo.png") left center no-repeat;
    background-size:38px 38px ;
    position: absolute;
    top:50%;
    left:20px;
    margin-top: -19px;
}
.header_nav{
    position: absolute;
    right: 20px;
    height: 38px;
    top:50%;
    margin-top: -19px;

}
.header_nav_item{

    font-size: 14px;
    color: black;
    line-height: 38px;
/*导航条固定搭配*/
    display: block;
    height: 38px;
    float: left;
    padding-left: 40px;
}

.header_nav_item:hover{
    color: #f01400;
}


.header_nav-tip{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #f01400;
    width: 30px;
    margin-left: 40px;
    height: 2px;
    transition:  all .5s;
}
/*伪元素!!!*/
/*.header_nav_item_status_active::after{*/
    /*content: '';*/
    /*display: block;*/
    /*width: 100%;*/
    /*height: 2px;*/
    /*position: absolute;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*background-color: #f01400;*/
/*}*/
.header_nav_item_status_button{
    background-color: #07111b;
    color: white;
    /*CSS3 圆角*/
    border-radius: 3px;
}



/*第一屏*/
.screen-1{
    height: 800px;

    position: relative;
    overflow: hidden;
    /*背景铺满*/
    background:url("../img/bg-screen-1.png") no-repeat center;
    background-size: cover;
}
.screen-1__header{
    padding: 0;
    margin: 0;
    font-weight: normal;
    font-size: 46px;
    color: #f01400;
    text-align: center;
    padding-top: 152px;
}
.screen-1__header b{
    font-weight: normal;
    color: white;
}
.screen-1__phone{
    width: 1375px;
    height: 305px;
    background: url("../img/screen-1-phone.png") no-repeat center;
    /*水平居中*/
    position: absolute;
    left: 50%;
    margin-left: -687px;
    bottom: 180px;
    z-index: 2;
}
.screen-1__shadow{
    width: 1233px;
    height: 411px;
    background: url("../img/screen-1-shadow.png") no-repeat center;
    /*水平居中*/
    position: absolute;
    left: 50%;
    margin-left: -615px;
    bottom: 60px;
    z-index: 1;
    opacity: .8;
}


/*第二屏*/
.screen-2{
    background-color: #f7f7f7;
    height: 800px;
    position: relative;
    overflow: hidden;
}

.screen-2__header{
    font-size: 46px;
    color: #f01400;
    line-height: 46px;
    text-align: center;
    padding-top: 96px;

}
.screen-2__subheader{
    font-size: 14px;
    color: #2c3137;
    line-height: 28px;
    text-align: center;
    padding-top: 25px;
}
.screen-2__phone{
    height: 873px;
    width: 928px;
background: url("../img/screen-2-phone.png") no-repeat center;
    position: absolute;
    left: 50%;
    margin-left: -464px;
}
.screen-2__point{
    background: url("../img/icon-point-right.png") no-repeat center right;
    padding: 0;
    margin: 0;
    padding-right: 112px;
    font-size: 22px;
    line-height: 22px;
    color: #2c3137;
    width: 100px;
    position: absolute;
}
.screen-2__point_custom_right{

    background: url("../img/icon-point-left.png") no-repeat center left;
    padding: 0 0 0 112px;

}
.screen-2_point_i_1{
    top: 190px;
    left: -130px;

}
.screen-2_point_i_2{
    top: 50px;
    right: 120px;
}
.screen-2_point_i_3{
    top: 340px;
    right: 40px;
}



/*第三屏*/
.screen-3{
    height: 800px;
    background:url("../img/bg-screen-3.png") no-repeat center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.screen-3__wrap{
    width: 1200px;
    height: auto;
    /*CSS margin(外边距)属性定义元素周围的空间。*/
    /*水平居中*/
    margin: 0 auto;
    /*css定位position*/
    position: relative;
}
.screen-3__header{
    margin: 0;
    padding: 0;
    font-size: 46px;
    color:white;
    line-height: 46px;
    text-align: left;
    padding-top: 96px;

}
.screen-3__subheader{
    font-size: 14px;
    color: white;
    line-height: 28px;
    text-align: left;
    padding-top: 25px;

}
.screen-3__phone{
    height: 873px;
    width: 928px;
    background: url("../img/screen-3-phone.png") no-repeat top;
    position: absolute;
    right: 0px;
    top: 195px;
}

.screen-3__feature{
    width: 320px;
    height:280px ;
    /*相对于screen-3__wrap定位！！*/
    position: absolute;
    top: 395px;
    left: 0px;
}
.screen-3__feature__item {

    border: 1px solid white;
    width:120px ;
    height:118px;
    margin:0 20px 20px 0 ;
    float: left;
    color:white ;
    text-align: center;
}
.screen-3__feature__item__number{
    font-size:36px ;
    line-height: 36px;
    padding:28px 0 7px 0;
}
.screen-3__feature__item__describe{
    font-size:14px ;
    line-height: 14px;
    padding: 0;
}
/*第四屏*/
.screen-4{
    height: 800px;
    background-color:white;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.screen-4__wrap{
    width: 1200px;
    height: auto;
    /*CSS margin(外边距)属性定义元素周围的空间。*/
    /*水平居中*/
    margin: 0 auto;
    /*css定位position*/
    position: relative;
}
.screen-4__header{
    font-size: 46px;
    color:red;
    line-height: 46px;
    text-align: center;
    padding-top: 96px;

}
.screen-4__subheader{
    font-size: 14px;
    color: black;
    line-height: 28px;
    text-align: center;
    padding-top: 25px;

}

.screen-4__type{
    width:1260px ;
    height: 270px;
    position: absolute;
    top: 304px;
    left: 50%;
    margin-left: -630px;
}
.screen-4__type__item{
    width:220px ;
    height:270px ;
    margin-right: 90px;

    float: left;
    position: relative;
    text-align: center;
    background-size: cover;
}
.screen-4__type__item__color{
    width: 100%;
    height: auto;

    font-size: 14px;
    color: black;
    text-align: center;

    position: absolute;
    bottom: -44px;


}
.screen-4__type__item__storage{
    width: 100%;
    height: auto;

    font-size: 14px;
    color: #a4a9ae;
    text-align: center;

    position: absolute;
    bottom: -66px;
}
.screen-4__type__item__bg1{
    background: url("../img/phone-1.png") no-repeat  left top;
}
.screen-4__type__item__bg2{
    background: url("../img/phone-2.png") no-repeat left top;
}
.screen-4__type__item__bg3{
    background: url("../img/phone-3.png") no-repeat left top;
}
.screen-4__type__item__bg4{
    background: url("../img/phone-4.png") no-repeat left top;
}

/*第五屏*/
.screen-5{
    height: 800px;
    background-color:#d9dde1;
    position: relative;
    overflow: hidden;
}

.screen-5__header{
    font-size: 46px;
    color:red;
    line-height: 46px;
    text-align: center;
    padding-top: 130px;

}
.screen-5__subheader{
    font-size: 14px;
    color: black;
    line-height: 28px;
    text-align: center;
    padding-top: 25px;
}

.screen-5__bg{
    width: 1920px;
    height:433px ;
    /*https://www.runoob.com/cssref/css3-pr-background-size.html*/
    background-size: contain;
    background: url(../img/bg-screen-5.png) no-repeat center top;
    position: absolute;
    left: 50%;
    margin-left: -960px;
    bottom: -100px;
}


/*第六屏*/
.screen-6{
    height:80px ;
    background:#2b333b url(../img/bg-screen-buy.png) center no-repeat; ;
    padding: 120px 0;
text-align: center;
}
.screen-6__button{
    display: inline-block;
    height: 80px;
    width: 280px;
    line-height: 80px;
    font-size:24px ;
    background-color: #f01400;
    color: #f7f7f7;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    transition: all .5s;
}

.screen-6__button:hover{
    box-shadow: 0px 0px 10px rgba(0,0,0,1);
}
/*第七屏*/
.footer{
    height:80px ;
    font-size:12px ;
    line-height:80px ;
    text-align: center;
    color: #f7f7f7;
    background-color: #07111b;
}
/*大纲样式*/
.outline{
    position: fixed;
    right: 0;
    bottom: 120px;
    background-color: #fff;
    box-shadow: 0px 4px 12px 0px rgba(7, 17, 27, 0.1);
    z-index: 3;
    padding: 5px 10px;
}
.outline_item{
    display:block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    background: #fff;
    border-bottom: 1px solid #eee;
    text-align: center;
    color: black;
    padding: 5px 20px;
    margin: 5px 0px 0px;
    font-size: 30px;
}
.outline_item:first-child{
    border-bottom: none;

}
.outline_item:hover,
.outline_item_status_active{
    color: #f00;
}
.header_status_black{
    background: rgba(0,0,0,.5);
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
}
.header_status_black .header_logo,
.header_status_black .header_nav_item{
    color: white;
}
.header_status_black .header_nav_item_status_active{
    color: #f01400;
    position: relative;
    z-index: 5;
}

.header_nav_item_status_active{
    color: #f01400;
    position: relative;
    z-index: 5;
}